.side-navigation {
    width: 250px;
    height: 700px;
    overflow-y: auto;
}

.side-navigation a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.side-navigation a:hover {
    background-color: #ccc;
}

.side-navigation a.active {
    background-color: #4CAF50;
    color: white;
}

.category {
    font-size: 16pt;
    font-weight: bold;
}

a {
    font-size: 12pt;
}

.description {
    margin-left: 2%;
}

.documentation {
    margin: 1.5%;
    width: 70%;
}

main {
    display: flex;
    flex-direction: row;
}

.not-clear {
    background-color: violet;
}

#header {
    font-size: 35pt;
    color: white;
    text-decoration: none;
}

header {
    background-color: darkslateblue;
    height: 55px;
}

#aruw-logo {
    width: 50px;
    height: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.type {
    font-style: italic;
}
